<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_TT_TinHoc.Properties.Settings.QL_TT_TinHocConnectionString"
            connectionString="Data Source=DESKTOP-7DEROE5\SQLEXPRESS;Initial Catalog=QL_TT_TinHoc;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>